body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #7e0d0d;
  }
  
  .birthdayCard {
    position: relative;
    width: 250px;
    height: 350px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 1s;
  }
  
  .birthdayCard:hover {
    transform: perspective(2500px) rotate(7deg);
    box-shadow: inset 100px 20px 100px rgb(0, 0, 0),
      0 10px 100px rgb(0, 0, 0);
  }
  
  .birthdayCard:hover .cardFront {
    transform: rotateY(-160deg);
  }
  
  .birthdayCard:hover .happy {
    visibility: hidden;
  }
  
  .cardFront {
    position: relative;
    background-color: rgb(88, 4, 4);
    width: 250px;
    height: 350px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgb(24, 3, 3),
      30px 0 50px rgb(0, 0, 0);
    transition: 0.6s;
  }
  
  .happy {
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin: 30px;
    background-image: linear-gradient(120deg, #8a7c04 0%, #610303 100%);
    transition: 0.1s;
  }
  
  .balloons {
    position: absolute;
  }
  
  .balloon-1,
  .balloon-2,
  .balloon-3,
  .balloon-4 {
    position: absolute;
    width: 85px;
    height: 95px;
    border-radius: 50%;
  }
  
  .balloon-1 {
    background-color: rgb(150, 3, 106);
    left: -10px;
    top: 50px;
  }
  
  .balloon-2 {
    background-color: rgb(14, 3, 112);
    left: 50px;
    top: 20px;
  }
  
  .balloon-3 {
    background-color: rgb(187, 54, 2);
    left: 110px;
    top: 50px;
  }
  
  .balloon-4 {
    background-color: rgb(148, 4, 4);
    left: 170px;
    top: 50px;
  }
  
  .balloon-1::before,
  .balloon-2::before,
  .balloon-3::before,
  .balloon-4::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 155px;
    background-color: #018a2f;
    top: 95px;
    left: 43px;
  }
  
  .balloon-1::after,
  .balloon-2::after,
  .balloon-3::after,
  .balloon-4::after {
    content: "";
    position: absolute;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    top: 94px;
    left: 37px;
  }
  
  .balloon-1::after {
    border-bottom: 10px solid  rgb(150, 3, 106);
  }
  
  .balloon-2::after {
    border-bottom: 10px solid  rgb(14, 3, 112);
  }
  
  .balloon-3::after {
    border-bottom: 10px solid  rgb(245, 69, 0);
  }
  
  .balloon-4::after {
    border-bottom: 10px solid  rgb(148, 4, 4);
  }
  
  .cardInside {
    position: absolute;
    background-color: rgba(156, 19, 19, 0.37);
    width: 250px;
    height: 350px;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow: inset 100px 20px 100px rgb(128, 5, 5);
  }
  
  p {
    font-family: "Brush Script MT", cursive;
    margin: 40px;
    color: rgb(255, 251, 251);
  }
  
  .name {
    position: absolute;
    left: 150px;
    top: 200px;
    color: rgb(0, 247, 255);
  }
  
  .back {
    font-family: Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 30px;
    outline-color: rgb(0, 0, 0);
    outline-style: dotted;
  }